.location-home-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 16px;
  border-radius: 12px 12px 0px 0px;
  width: 95%;
  z-index: 998;
}
